In [22]:
import psycopg2, psycopg2.extras, psycopg2.pool, pickle, json, matplotlib, os, sys, shapely
from multiprocessing import Pool, Manager; from collections import OrderedDict; from shapely.geometry import mapping, shape; from sqlalchemy import create_engine
import matplotlib.pyplot as plt; import numpy as np; import pandas as pd; import geopandas as gpd; import seaborn as sns
%matplotlib inline

# Latest Tile Statistics

This notebook queries the `latest-tile-data-v3` database to identify tiles with specific characteristics, such as:
- named road km
- total road km
- total buildings
- number of buildings with more than `building=yes`

This allows for further _intrinsic quality_ comparison between the histories of tiles that are currently quantitatively similar on the map.

In [23]:
#Create the engine for Pandas to query SQL with
engine = create_engine('postgresql://anderstj@127.0.0.1:5432/latest-tile-data-v3')

In [24]:
study_tiles = json.loads(open('study_tiles.json','r').read())
print("Found {0} tiles.".format(len(study_tiles)))

Found 7 tiles.

In [25]:
# Get study_tile stats
def get_tile_df(quadkey):
    q_s = """SELECT * FROM roads, buildings, geometry WHERE 
        roads.quadkey = buildings.quadkey AND 
        geometry.quadkey = roads.quadkey AND 
        roads.quadkey = '{0}'""".format(quadkey)
    df = pd.read_sql_query(q_s,con=engine)
    
    df['named_road_ratio'] = (df.named_edited_km + df.named_new_km) / df.total_km
    df['more_building_ratio'] = (df.new_buildings_more + df.edited_buildings_more) / df.total_buildings
    return df

for tile in study_tiles:
    print(tile['name'], end="...")
    tile['characteristics'] = get_tile_df(tile['quad'])

Port Au Prince, Haiti...Tacloban, Philippines...Monrovia, Liberia...Trisuli Bazar, Nepal...Heidelberg, Germany...London, UK...Manhattan, NY...

In [26]:
def get_similar_tiles(tile, tolerance=0.01, ratio_tol=0.01):
    """Given a tile, find similar tiles in the _current database_ within specific thresholds."""
    df = tile['characteristics']
    min_roads = (df.total_km - df.total_km*tolerance).values[0]
    max_roads = (df.total_km + df.total_km*tolerance).values[0]
    min_buildings = (df.total_buildings - df.total_buildings*tolerance).values[0]
    max_buildings = (df.total_buildings + df.total_buildings*tolerance).values[0]
    min_roads_ratio = (df.named_road_ratio - df.named_road_ratio*ratio_tol).values[0]
    max_roads_ratio = (df.named_road_ratio + df.named_road_ratio*ratio_tol).values[0]    
    min_building_ratio = (df.more_building_ratio - df.more_building_ratio*ratio_tol).values[0]
    max_building_ratio = (df.more_building_ratio + df.more_building_ratio*ratio_tol).values[0]

    query_string = """SELECT * FROM roads, buildings, geometry WHERE roads.quadkey = buildings.quadkey AND geometry.quadkey = roads.quadkey AND 
    roads.total_km > {0} AND roads.total_km < {1} AND roads.quadkey != '{4}' AND 
    buildings.total_buildings > {2} AND buildings.total_buildings < {3} AND
    (roads.named_edited_km + roads.named_new_km)/roads.total_km > {5} AND 
    (roads.named_edited_km + roads.named_new_km)/roads.total_km < {6} AND
    (buildings.edited_buildings_more + buildings.new_buildings_more)::float / buildings.total_buildings::float > {7} AND
    (buildings.edited_buildings_more + buildings.new_buildings_more)::float / buildings.total_buildings::float < {8}
    """.format(min_roads, max_roads, min_buildings, max_buildings, df.quadkey.values[0][0], min_roads_ratio, max_roads_ratio, min_building_ratio, max_building_ratio)
    return pd.read_sql_query(query_string,con=engine)

# Test approach
x = get_similar_tiles(study_tiles[2], tolerance = 0.25, ratio_tol=0.25)
print(len(x))
x.head()

0

Empty DataFrame
Columns: [quadkey, named_edited_km, named_new_km, total_edited_km, total_km, total_new_km, unnamed_edited_km, unnamed_new_km, quadkey, total_buildings, total_new_buildings, total_edited_buildings, new_buildings_more, new_buildings_yes, edited_buildings_more, edited_buildings_yes, quadkey, coordinates, type]
Index: []

## Identify Similar Tiles in the Database

For each of the study tiles, how many other tiles exist with similar characteristics: 
 - Number of Buildings
 - km of roads
 - % of named roads
 - % of buildings with more than just `building==yes`

In [27]:
sim_tiles = get_similar_tiles(study_tiles[0], tolerance=0.15, ratio_tol=0.05)
sim_tiles

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type
0,033110210131,453.059,87.4549,675.205,956.69,281.486,222.146,194.031,033110210131,10745,8533,2212,513,8020,258,1954,033110210131,"[[[-9.228515625, 38.61687046392974], [-9.22851...",Polygon

In [28]:
for tile in study_tiles:
    print(tile['name'])
    sim_tiles = get_similar_tiles(tile, tolerance=0.25, ratio_tol=0.35)
    print("Similar Tiles: {0}\n".format(len(sim_tiles)))
    tile['similar_tiles'] = sim_tiles

Port Au Prince, Haiti
Similar Tiles: 8

Tacloban, Philippines
Similar Tiles: 1

Monrovia, Liberia
Similar Tiles: 1

Trisuli Bazar, Nepal
Similar Tiles: 4

Heidelberg, Germany
Similar Tiles: 37

London, UK
Similar Tiles: 17

Manhattan, NY
Similar Tiles: 8

In [29]:
#Override Haiti & Nepal
study_tiles[0]['similar_tiles'] = get_similar_tiles(study_tiles[0], tolerance=0.15, ratio_tol=0.05)
study_tiles[3]['similar_tiles'] = get_similar_tiles(study_tiles[3], tolerance=0.20, ratio_tol=0.15)

In [30]:
for tile in study_tiles:
    print(tile['name'])
    print("Similar Tiles: {0}\n".format(len(tile['similar_tiles'])))

Port Au Prince, Haiti
Similar Tiles: 1

Tacloban, Philippines
Similar Tiles: 1

Monrovia, Liberia
Similar Tiles: 1

Trisuli Bazar, Nepal
Similar Tiles: 1

Heidelberg, Germany
Similar Tiles: 37

London, UK
Similar Tiles: 17

Manhattan, NY
Similar Tiles: 8

In [31]:
study_tiles[3]['similar_tiles']

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type
0,123131220022,8.50502,0.0,198.51,262.506,63.996,190.005,63.996,123131220022,6237,5696,541,854,4842,55,486,123131220022,"[[[84.375, 27.994401411046148], [84.375, 28.07...",Polygon

In [32]:
def convert_to_gpd(df):
    """ Given a pandas dataframe with a `geometry` column, return a GeoDataFrame
        Note: This function creates the geometry from JSON string and then gets the envelope, this ensures proper winding order.
    """
    df['geometry'] = df.coordinates.apply(lambda coords: shape({"type":"Polygon", "coordinates":json.loads(coords)}).exterior.envelope)
    
    return gpd.GeoDataFrame(df)
y = convert_to_gpd(x)

### Write GeoJSON feature collections of similar tiles for each study tile

In [33]:
directory = '/data/www/jennings/iscram/'
if not os.path.exists(directory):
    os.makedirs(directory)
for tile in study_tiles:
    print(tile['name'])
    tile_gpd = convert_to_gpd(tile['similar_tiles'])
    filename = directory+"/"+tile['name']+"_sim_tiles.geojson"
    if os.path.exists(filename):
        os.remove(filename)
    try:
        tile_gpd.to_file(directory+"/"+tile['name']+"_sim_tiles.geojson", driver="GeoJSON")
    except:
        print("\tError. Length of dataframe: {0}".format(len(tile_gpd)))

Port Au Prince, Haiti
Tacloban, Philippines
Monrovia, Liberia
Trisuli Bazar, Nepal
Heidelberg, Germany
London, UK
Manhattan, NY

### Create GeoJSON file for all features

In [34]:
feat_coll = {"type":"FeatureCollection","features":[]}
for tile in study_tiles:
    tile['characteristics']['name'] = tile['name']
    feat_coll['features'].append( json.loads(convert_to_gpd(tile['characteristics']).to_json())['features'][0] )

with open(directory+"study_tiles.geojson",'w') as oFile:
    json.dump(feat_coll, oFile)

### The study tiles can be [visualized here](http://www.townsendjennings.com/geojson-polygons?geojson=http://epic-analytics.cs.colorado.edu:9000/jennings/iscram/study_tiles.geojson#1.9/14.6/8.5)
(Must be on the CU network)

## Create Single JSON record with study tiles and comparable tiles

In [35]:
output = []
for tile in study_tiles: 
    sim_quads = [x[0] for x in tile['similar_tiles'].quadkey.values]
    output.append(
        {'name':tile['name'],
         'quad':tile['quad'],
         'compare_tiles': [{'quad':x} for x in sim_quads]})
with open("study_tiles_with_compare_tiles.json",'w') as oFile:
    json.dump(output,oFile)

In [36]:
print(study_tiles[3]['name'])
study_tiles[3]['characteristics']

Trisuli Bazar, Nepal

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,...,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type,named_road_ratio,more_building_ratio,name,geometry
0,123131221200,10.1151,0.318314,242.562,324.699,82.1367,232.447,81.8184,123131221200,7596,...,5848,137,498,123131221200,"[[[85.078125, 27.91676664124907], [85.078125, ...",Polygon,0.032133,0.16456,"Trisuli Bazar, Nepal","POLYGON ((85.078125 27.91676664124907, 85.1660..."

In [50]:
from IPython import display
for x in study_tiles[:4]: 
    display.display((x['name']))
    df = x['characteristics']

    df['total_more_buildings']   = df.edited_buildings_more+df.new_buildings_more
    df['more_buildings_percent'] = df.total_more_buildings / df.total_buildings * 100

    df['total_named_km']   = df.named_edited_km+df.named_new_km
    df['named_km_percent'] = df.total_named_km / df.total_km * 100
    
    display.display(df[['total_buildings','more_buildings_percent','total_km','named_km_percent']])
    
    compare_df = x['similar_tiles']
    compare_df['total_more_buildings']   = compare_df.edited_buildings_more+compare_df.new_buildings_more
    compare_df['more_buildings_percent'] = compare_df.total_more_buildings / compare_df.total_buildings * 100
    compare_df['total_named_km']   = compare_df.named_edited_km+compare_df.named_new_km
    compare_df['named_km_percent'] = compare_df.total_named_km / compare_df.total_km * 100
    
    display.display(compare_df[['quadkey','total_buildings','more_buildings_percent','total_km','named_km_percent']])

'Port Au Prince, Haiti'

   total_buildings  more_buildings_percent  total_km  named_km_percent
0            12141                6.869286   1006.15          54.01143

,quadkey,quadkey,quadkey,total_buildings,more_buildings_percent,total_km,named_km_percent
0,033110210131,033110210131,033110210131,10745,7.17543,956.69,56.498333

'Tacloban, Philippines'

   total_buildings  more_buildings_percent  total_km  named_km_percent
0            29573               71.068204   257.339         35.431847

,quadkey,quadkey,quadkey,total_buildings,more_buildings_percent,total_km,named_km_percent
0,132303033313,132303033313,132303033313,27667,62.518524,319.301,32.473823

'Monrovia, Liberia'

   total_buildings  more_buildings_percent  total_km  named_km_percent
0            19193                5.569739   174.068         32.192861

,quadkey,quadkey,quadkey,total_buildings,more_buildings_percent,total_km,named_km_percent
0,310101233020,310101233020,310101233020,17210,3.689715,146.896,30.022097

'Trisuli Bazar, Nepal'

   total_buildings  more_buildings_percent  total_km  named_km_percent
0             7596               16.456029   324.699          3.213257

,quadkey,quadkey,quadkey,total_buildings,more_buildings_percent,total_km,named_km_percent
0,123131220022,123131220022,123131220022,6237,14.574315,262.506,3.239934

In [21]:
for tile in study_tiles:
    print(tile['name'])
    display.display(tile['quad'])
    display.display(tile['similar_tiles'])

Port Au Prince, Haiti

'032211203001'

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type,geometry
0,033110210131,453.059,87.4549,675.205,956.69,281.486,222.146,194.031,033110210131,10745,8533,2212,513,8020,258,1954,033110210131,"[[[-9.228515625, 38.61687046392974], [-9.22851...",Polygon,"POLYGON ((-9.228515625 38.61687046392974, -9.1..."

Tacloban, Philippines

'132312223332'

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type,geometry
0,132303033313,99.9365,3.75274,218.701,319.301,100.6,118.764,96.8474,132303033313,27667,3366,24301,1170,2196,16127,8174,132303033313,"[[[120.849609375, 14.093957177836227], [120.84...",Polygon,"POLYGON ((120.849609375 14.09395717783623, 120..."

Monrovia, Liberia

'033330222101'

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type,geometry
0,310101233020,36.6115,7.48976,69.0084,146.896,77.8878,32.3969,70.398,310101233020,17210,17138,72,628,16510,7,65,310101233020,"[[[120.234375, -5.178482088522886], [120.23437...",Polygon,"POLYGON ((120.234375 -5.178482088522886, 120.3..."

Trisuli Bazar, Nepal

'123131221200'

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type,geometry
0,123131220022,8.50502,0.0,198.51,262.506,63.996,190.005,63.996,123131220022,6237,5696,541,854,4842,55,486,123131220022,"[[[84.375, 27.994401411046148], [84.375, 28.07...",Polygon,"POLYGON ((84.375 27.99440141104615, 84.4628906..."

Heidelberg, Germany

'120203320232'

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type,geometry
0,120210201003,208.007,5.53997,657.864,799.855,141.9910,449.857,136.4510,120210201003,15662,1915,13747,426,1489,5411,8336,120210201003,"[[[12.041015625, 54.059387886623576], [12.0410...",Polygon,"POLYGON ((12.041015625 54.05938788662358, 12.1..."
1,120201330112,241.399,22.82230,525.702,727.464,201.7630,284.303,178.9400,120201330112,13594,8207,5387,2597,5610,1332,4055,120201330112,"[[[10.37109375, 53.2257684357902], [10.3710937...",Polygon,"POLYGON ((10.37109375 53.2257684357902, 10.458..."
2,120201332212,243.645,21.89940,446.505,639.097,192.5920,202.859,170.6930,120201332212,19847,15199,4648,1940,13259,2553,2095,120201332212,"[[[10.01953125, 52.589700768717805], [10.01953...",Polygon,"POLYGON ((10.01953125 52.5897007687178, 10.107..."
3,120210232331,303.094,21.30580,658.394,815.070,156.6760,355.300,135.3700,120210232331,15377,6006,9371,998,5008,2402,6969,120210232331,"[[[13.271484375, 52.53627304145947], [13.27148...",Polygon,"POLYGON ((13.271484375 52.53627304145947, 13.3..."
4,120212011000,315.388,30.46680,575.410,758.365,182.9540,260.022,152.4880,120212011000,21775,7722,14053,1497,6225,5707,8346,120212011000,"[[[13.359375, 52.429222277955134], [13.359375,...",Polygon,"POLYGON ((13.359375 52.42922227795513, 13.4472..."
5,120203101113,344.671,28.36530,664.466,810.513,146.0480,319.794,117.6830,120203101113,14846,6307,8539,1028,5279,3205,5334,120203101113,"[[[9.755859375, 52.3755991766591], [9.75585937...",Polygon,"POLYGON ((9.755859375 52.3755991766591, 9.8437..."
6,120212011010,268.599,22.79300,532.835,641.286,108.4510,264.236,85.6579,120212011010,15801,12082,3719,2383,9699,1805,1914,120212011010,"[[[13.53515625, 52.429222277955134], [13.53515...",Polygon,"POLYGON ((13.53515625 52.42922227795513, 13.62..."
7,120212011001,335.563,29.41770,636.140,797.916,161.7760,300.577,132.3590,120212011001,17195,7457,9738,744,6713,4175,5563,120212011001,"[[[13.447265625, 52.429222277955134], [13.4472...",Polygon,"POLYGON ((13.447265625 52.42922227795513, 13.5..."
8,120203102231,232.502,25.19010,486.499,635.484,148.9850,253.997,123.7950,120203102231,18115,7609,10506,1412,6197,4581,5925,120203102231,"[[[8.701171875, 51.67255514839676], [8.7011718...",Polygon,"POLYGON ((8.701171875 51.67255514839676, 8.789..."
9,120203030300,234.494,19.32330,482.937,628.526,145.5890,248.443,126.2650,120203030300,18476,6886,11590,1186,5700,3542,8048,120203030300,"[[[7.3828125, 51.34433866059923], [7.3828125, ...",Polygon,"POLYGON ((7.3828125 51.34433866059923, 7.47070..."
10,120203021123,277.736,20.07950,629.200,814.918,185.7180,351.464,165.6380,120203021123,20406,8985,11421,3323,5662,1027,10394,120203021123,"[[[6.767578125, 51.39920565355378], [6.7675781...",Polygon,"POLYGON ((6.767578125 51.39920565355378, 6.855..."
11,120203030301,250.962,24.26960,482.621,652.773,170.1510,231.660,145.8820,120203030301,16676,6338,10338,2471,3867,3720,6618,120203030301,"[[[7.470703125, 51.34433866059923], [7.4707031...",Polygon,"POLYGON ((7.470703125 51.34433866059923, 7.558..."
12,120203121213,335.369,28.62000,655.716,827.949,172.2330,320.348,143.6130,120203121213,18565,6515,12050,1373,5142,2766,9284,120203121213,"[[[9.404296875, 51.28940590271678], [9.4042968...",Polygon,"POLYGON ((9.404296875 51.28940590271678, 9.492..."
13,120212021302,316.513,29.15170,666.015,854.824,188.8090,349.502,159.6570,120212021302,15326,5958,9368,1076,4882,2324,7044,120212021302,"[[[12.3046875, 51.28940590271678], [12.3046875...",Polygon,"POLYGON ((12.3046875 51.28940590271678, 12.392..."
14,120203021322,264.148,36.03380,492.522,668.438,175.9160,228.375,139.8820,120203021322,21177,10967,10210,1821,9146,2345,7865,120203021322,"[[[6.6796875, 51.17934297928927], [6.6796875, ...",Polygon,"POLYGON ((6.6796875 51.17934297928927, 6.76757..."
15,120212033031,290.062,21.55250,584.171,770.260,186.0880,294.109,164.5360,120212033031,14053,5191,8862,1819,3372,1852,7010,120212033031,"[[[13.623046875, 51.01375465718819], [13.62304...",Polygon,"POLYGON ((13.623046875 51.01375465718819, 13.7..."
16,120203133123,348.122,49.71730,724.228,955.095,230.8670,376.106,181.1490,120203133123,15440,7314,8126,1242,6072,2611,5515,120203133123,"[[[10.986328125, 50.95842672335991], [10.98632...",Polygon,"POLYGON ((10.986328125 50.95842672335991, 11.0..."
17,120203033213,223.700,28.73350,493.733,630.779,137.0460,270.033,108.3130,120203033213,18229,6267,11962,4016,2251,1061,10901,120203033213,"[[[7.998046875, 50.84757295365388], [7.9980468...",Polygon,"POLYGON ((7.998046875 50.84757295365388, 8.085..."
18,120202132303,330.968,32.39340,596.115,757.512,161.3970,265.147,129.0030,120202132303,19277,11661,7616,4373,7288,3091,4525,120202132303,"[[[4.658203125, 50.84757295365388], [4.6582031...",Polygon,"POLYGON ((4.658203125 50.84757295365388, 4.746..."
19,120213212111,193.349,23.49340,446.362,640.947,194.5850,253.014,171.0920,120213212111,18074,13032,5042,2979,10053,1851,3191,120213212111,"[[[18.896484375, 50.23315183247224], [18.89648...",Polygon,"POLYGON ((18.896484375 50.23315183247224, 18.9..."
20,120203302020,220.443,18.22950,516.902,640.073,123.1710,296.460,104.9420,120203302020,14154,7956,6198,2170,5786,1971,4227,120203302020,"[[[8.4375, 50.12057809796008], [8.4375, 50.176...",Polygon,"POLYGON ((8.4375 50.12057809796008, 8.52539062..."
21,120203213123,254.234,32.42810,477.309,629.231,151.9220,223.076,119.4930,120203213123,15402,10642,4760,2847,7795,1986,2774,120203213123,"[[[8.173828125, 50.06419173665909], [8.1738281...",Polygon,"POLYGON ((8.173828125 50.06419173665909, 8.261..."
22,120203302021,199.148,17.56710,558.380,690.747,132.3670,359.232,114.7990,120203302021,14873,6456,8417,1007,5449,2378,6039,120203302021,"[[[8.525390625, 50.12057809796008], [8.5253906...",Polygon,"POLYGON ((8.525390625 50.12057809796008, 8.613..."
23,120213313210,286.542,26.71590,618.123,924.607,306.4840,331.581,279.7680,120213313210,18149,5610,12539,2125,3485,4830,7709,120213313210,"[[[21.97265625, 50.007739014636876], [21.97265...",Polygon,"POLYGON ((21.97265625 50.00773901463688, 22.06..."
24,120203213303,279.428,32.18790,627.192,770.829,143.6370,347.764,111.4490,120203213303,17077,7531,9546,2223,5308,3318,6228,120203213303,"[[[8.173828125, 49.95121990866205], [8.1738281...",Polygon,"POLYGON ((8.173828125 49.95121990866205, 8.261..."
25,120203320203,259.641,15.85260,668.575,792.734,124.1590,408.934,108.3060,120203320203,15959,7021,8938,1058,5963,3395,5543,120203320203,"[[[8.525390625, 49.49667452747044], [8.5253906...",Polygon,"POLYGON ((8.525390625 49.49667452747044, 8.613..."
26,120203320202,353.153,27.55510,733.874,920.941,187.0660,380.721,159.5110,120203320202,21805,8700,13105,1470,7230,3227,9878,120203320202,"[[[8.4375, 49.49667452747044], [8.4375, 49.553...",Polygon,"POLYGON ((8.4375 49.49667452747044, 8.52539062..."
27,120203233333,193.321,18.19800,549.655,645.054,95.3991,356.334,77.2012,120203233333,17012,11178,5834,3274,7904,422,5412,120203233333,"[[[8.349609375, 48.922499263758255], [8.349609...",Polygon,"POLYGON ((8.349609375 48.92249926375825, 8.437..."
28,120212223221,338.549,24.17920,781.392,961.202,179.8100,442.842,155.6310,120212223221,15958,5745,10213,1955,3790,4055,6158,120212223221,"[[[12.041015625, 48.980216985374994], [12.0410...",Polygon,"POLYGON ((12.041015625 48.98021698537499, 12.1..."
29,120221101002,367.493,45.39960,785.283,1011.400,226.1160,417.790,180.7160,120221101002,21388,6765,14623,1914,4851,2334,12289,120221101002,"[[[9.140625, 48.80686346108518], [9.140625, 48...",Polygon,"POLYGON ((9.140625 48.80686346108518, 9.228515..."
30,120221101023,211.819,28.97600,536.093,687.711,151.6190,324.274,122.6430,120221101023,17626,6307,11319,1862,4445,2608,8711,120221101023,"[[[9.228515625, 48.6909603909255], [9.22851562...",Polygon,"POLYGON ((9.228515625 48.6909603909255, 9.3164..."
31,120221101021,266.829,30.06780,635.939,764.178,128.2390,369.110,98.1711,120221101021,15742,4977,10765,1798,3179,2628,8137,120221101021,"[[[9.228515625, 48.748945343432936], [9.228515...",Polygon,"POLYGON ((9.228515625 48.74894534343294, 9.316..."
32,120230002210,290.746,27.78580,578.408,733.516,155.1080,287.661,127.3220,120230002210,19886,12008,7878,2747,9261,2503,5375,120230002210,"[[[11.42578125, 48.16608541901253], [11.425781...",Polygon,"POLYGON ((11.42578125 48.16608541901253, 11.51..."
33,120231002213,207.624,23.78650,567.827,854.081,286.2540,360.203,262.4680,120231002213,19886,12337,7549,212,12125,4610,2939,120231002213,"[[[17.138671875, 48.1074311884804], [17.138671...",Polygon,"POLYGON ((17.138671875 48.1074311884804, 17.22..."
34,120221013223,311.126,23.41630,657.217,782.096,124.8790,346.091,101.4630,120221013223,17057,7496,9561,1941,5555,3965,5596,120221013223,"[[[7.822265625, 47.98992166741417], [7.8222656...",Polygon,"POLYGON ((7.822265625 47.98992166741417, 7.910..."
35,120233101200,387.382,19.23600,677.826,873.902,196.0760,290.444,176.8400,120233101200,15310,6458,8852,2778,3680,2416,6436,120233101200,"[[[20.390625, 44.77793589631623], [20.390625, ...",Polygon,"POLYGON ((20.390625 44.77793589631623, 20.4785..."
36,120322201221,424.455,7.22049,717.935,910.403,192.4680,293.479,185.2480,120322201221,15656,10313,5343,1015,9298,2271,3072,120322201221,"[[[23.291015625, 42.61779143282346], [23.29101...",Polygon,"POLYGON ((23.291015625 42.61779143282346, 23.3..."

London, UK

'031313131103'

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type,geometry
0,120212011000,315.388,30.46680,575.410,758.365,182.9540,260.022,152.4880,120212011000,21775,7722,14053,1497,6225,5707,8346,120212011000,"[[[13.359375, 52.429222277955134], [13.359375,...",Polygon,"POLYGON ((13.359375 52.42922227795513, 13.4472..."
1,120210232333,420.123,23.07970,717.234,875.303,158.0690,297.111,134.9900,120210232333,16856,4176,12680,1219,2957,5590,7090,120210232333,"[[[13.271484375, 52.48278022207821], [13.27148...",Polygon,"POLYGON ((13.271484375 52.48278022207821, 13.3..."
2,120203101113,344.671,28.36530,664.466,810.513,146.0480,319.794,117.6830,120203101113,14846,6307,8539,1028,5279,3205,5334,120203101113,"[[[9.755859375, 52.3755991766591], [9.75585937...",Polygon,"POLYGON ((9.755859375 52.3755991766591, 9.8437..."
3,120212011001,335.563,29.41770,636.140,797.916,161.7760,300.577,132.3590,120212011001,17195,7457,9738,744,6713,4175,5563,120212011001,"[[[13.447265625, 52.429222277955134], [13.4472...",Polygon,"POLYGON ((13.447265625 52.42922227795513, 13.5..."
4,031313131121,496.248,60.20570,638.314,808.342,170.0280,142.067,109.8220,031313131121,14780,11597,3183,3795,7802,927,2256,031313131121,"[[[-0.263671875, 51.45400691005982], [-0.26367...",Polygon,"POLYGON ((-0.263671875 51.45400691005982, -0.1..."
5,120203030003,256.082,40.72130,442.297,619.346,177.0490,186.215,136.3280,120203030003,22706,10933,11773,3691,7242,4530,7243,120203030003,"[[[7.119140625, 51.50874245880334], [7.1191406...",Polygon,"POLYGON ((7.119140625 51.50874245880334, 7.207..."
6,120202132303,330.968,32.39340,596.115,757.512,161.3970,265.147,129.0030,120202132303,19277,11661,7616,4373,7288,3091,4525,120202132303,"[[[4.658203125, 50.84757295365388], [4.6582031...",Polygon,"POLYGON ((4.658203125 50.84757295365388, 4.746..."
7,120203213123,254.234,32.42810,477.309,629.231,151.9220,223.076,119.4930,120203213123,15402,10642,4760,2847,7795,1986,2774,120203213123,"[[[8.173828125, 50.06419173665909], [8.1738281...",Polygon,"POLYGON ((8.173828125 50.06419173665909, 8.261..."
8,120320201300,333.281,25.24650,514.262,588.183,73.9211,180.981,48.6746,120320201300,21678,2416,19262,875,1541,7798,11464,120320201300,"[[[23.5546875, 46.739860599692676], [23.554687...",Polygon,"POLYGON ((23.5546875 46.73986059969268, 23.642..."
9,120230223013,319.785,66.85360,449.000,649.903,200.9030,129.215,134.0500,120230223013,20055,16691,3364,6023,10668,846,2518,120230223013,"[[[12.216796875, 45.460130637921004], [12.2167...",Polygon,"POLYGON ((12.216796875 45.460130637921, 12.304..."
10,120221333120,348.982,48.40960,478.703,603.146,124.4430,129.721,76.0331,120221333120,21616,19493,2123,6995,12498,831,1292,120221333120,"[[[10.8984375, 45.398449976304086], [10.898437...",Polygon,"POLYGON ((10.8984375 45.39844997630409, 10.986..."
11,120233101200,387.382,19.23600,677.826,873.902,196.0760,290.444,176.8400,120233101200,15310,6458,8852,2778,3680,2416,6436,120233101200,"[[[20.390625, 44.77793589631623], [20.390625, ...",Polygon,"POLYGON ((20.390625 44.77793589631623, 20.4785..."
12,120223102121,522.213,78.11760,672.394,850.344,177.9500,150.181,99.8326,120223102121,14381,11340,3041,4651,6689,1249,1792,120223102121,"[[[8.876953125, 44.40239182909392], [8.8769531...",Polygon,"POLYGON ((8.876953125 44.40239182909392, 8.964..."
13,120223131032,316.875,16.19610,438.541,594.238,155.6970,121.666,139.5010,120223131032,14296,12128,2168,3659,8469,1549,619,120223131032,"[[[10.72265625, 43.83452678223683], [10.722656...",Polygon,"POLYGON ((10.72265625 43.83452678223683, 10.81..."
14,120322201203,528.645,5.58879,751.210,931.646,180.4360,222.565,174.8480,120322201203,21998,15788,6210,2651,13137,2725,3485,120322201203,"[[[23.291015625, 42.68243539838623], [23.29101...",Polygon,"POLYGON ((23.291015625 42.68243539838623, 23.3..."
15,122011012222,257.005,43.63610,393.360,592.740,199.3800,136.355,155.7440,122011012222,13956,13647,309,5074,8573,45,264,122011012222,"[[[18.28125, 39.90973623453719], [18.28125, 39...",Polygon,"POLYGON ((18.28125 39.90973623453719, 18.36914..."
16,021330310030,263.777,63.30010,509.826,667.024,157.1980,246.049,93.8979,021330310030,20294,12083,8211,961,11122,7634,577,021330310030,"[[[-96.85546875, 46.86019101567025], [-96.8554...",Polygon,"POLYGON ((-96.85546875 46.86019101567025, -96...."

Manhattan, NY

'032010110132'

,quadkey,named_edited_km,named_new_km,total_edited_km,total_km,total_new_km,unnamed_edited_km,unnamed_new_km,quadkey,total_buildings,total_new_buildings,total_edited_buildings,new_buildings_more,new_buildings_yes,edited_buildings_more,edited_buildings_yes,quadkey,coordinates,type,geometry
0,120220011030,565.542,91.4660,800.055,1047.010,246.960,234.513,155.4940,120220011030,58787,40613,18174,67,40546,1097,17077,120220011030,"[[[2.28515625, 48.748945343432936], [2.2851562...",Polygon,"POLYGON ((2.28515625 48.74894534343294, 2.3730..."
1,031331123312,481.431,64.1852,662.900,860.620,197.720,181.469,133.5340,031331123312,57156,21612,35544,141,21471,1788,33756,031331123312,"[[[-1.58203125, 47.1598400130443], [-1.5820312...",Polygon,"POLYGON ((-1.58203125 47.1598400130443, -1.494..."
2,120220330313,606.398,55.0455,793.246,993.775,200.529,186.848,145.4840,120220330313,44680,20950,23730,158,20792,755,22975,120220330313,"[[[4.833984375, 45.70617928533084], [4.8339843...",Polygon,"POLYGON ((4.833984375 45.70617928533084, 4.921..."
3,021212222131,522.204,62.3348,878.178,1020.460,142.286,355.974,79.9515,021212222131,58618,57586,1032,1904,55682,304,728,021212222131,"[[[-123.134765625, 49.2104204456503], [-123.13...",Polygon,"POLYGON ((-123.134765625 49.2104204456503, -12..."
4,030222231030,635.584,128.0370,870.206,1300.220,430.019,234.622,301.9820,030222231030,52353,47998,4355,171,47827,1008,3347,030222231030,"[[[-87.71484375, 41.83682786072713], [-87.7148...",Polygon,"POLYGON ((-87.71484375 41.83682786072713, -87...."
5,032010033002,564.971,41.8386,768.219,1029.000,260.782,203.248,218.9430,032010033002,55169,52778,2391,1148,51630,818,1573,032010033002,"[[[-76.640625, 39.23225314171488], [-76.640625...",Polygon,"POLYGON ((-76.640625 39.23225314171488, -76.55..."
6,023010230020,578.495,104.4920,714.426,994.779,280.353,135.931,175.8610,023010230020,40883,36149,4734,578,35571,485,4249,023010230020,"[[[-122.34375, 37.50972584293751], [-122.34375...",Polygon,"POLYGON ((-122.34375 37.50972584293751, -122.2..."
7,032300212020,450.859,269.1170,614.039,1001.500,387.457,163.180,118.3410,032300212020,53359,50551,2808,190,50361,1171,1637,032300212020,"[[[-66.09375, 18.396230138028827], [-66.09375,...",Polygon,"POLYGON ((-66.09375 18.39623013802883, -66.005..."